{% extends 'base.html' %}
{% load static %}
{% block style %}
.carousel-control-next {
  padding-right: -10px;
  margin-right: -30px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
{% endblock style %}
{% block content %}

<header id="header2" class="header2">
  <div>
    <a href="{% url 'dinings:index' %}" style="width: 148.194px">
      <img
        class="logo"
        src="https://dcicons.s3.ap-northeast-1.amazonaws.com/new/images/web/react_components/indexPage/recom__scroll__nav__logo.png"
        alt="다이닝코드"
        width="148.194px"
        height="auto"
        style="margin-right: 50px"
      />
    </a>
  </div>

  <div
    style="
      align-items: center;
      display: flex;
      font-size: 10px;
      color: white;
      font-size: 20px;
      margin-left: 100px;
      font-family: 'Chosunilbo_myungjo', serif;
    "
  >
      당신을 위한 맛집 추천
  </div>

  <div style="align-items: center; font-family: 'Chosunilbo_myungjo', serif;">
    <button class="btn btn-primary" id="loc-select">다른 지역 선택</button>
    <button class="btn btn-success">현 위치로 설정</button>
  </div>

  <img
    src="https://cdn-pro-web-247-144.cdn-nhncommerce.com/koreafood373_godomall_com/data/goods/23/03/12/1000000938/1000000938_detail_090.jpg"
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -555;
      filter: brightness(50%);
    "
  />
</header>

<div id="box">
  <img
    src="https://cdn-pro-web-247-144.cdn-nhncommerce.com/koreafood373_godomall_com/data/goods/23/03/12/1000000938/1000000938_detail_090.jpg"
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -555;
    "
  />
  <div style="margin-bottom: 20px; color: white; font-size: 30px; font-family: '조선일보명조', serif;">
    당신을 위한<div id="location"></div>맛집 추천
  </div>
    <div class="button-container btn-shadow" style="font-family: 'Chosunilbo_myungjo', serif;">
      <form id="location-form" method="POST">
        {% csrf_token %}
        <input type="hidden" name="latitude" id="latitude">
        <input type="hidden" name="longitude" id="longitude">
      </form>
      <button type="button" class="btn btn-primary" onclick="clearLocation()">다른 지역 선택</button>
      {% comment %} <button class="btn btn-success" onclick="getLocation()">현 위치로 설정</button> {% endcomment %}
      <button class="btn btn-success" id="my-location-btn">현 위치로 설정</button>
    </div>
    <div id="address-form-container" style="display:none; margin-top: 20px;">
      <form action="{% url 'dinings:index' %}">
        <input type="text" id="search" placeholder="원하는 주소를 직접 입력하세요" name="region">
        <button type="submit" class="btn btn-primary">입력</button>
      </form>
      {% comment %} <form id="address-form" onsubmit="saveLocation(event)">
        <input type="text" id="search" placeholder="원하는 주소를 직접 입력하세요">
        <button type="submit" class="btn btn-primary">입력</button>
      </form> {% endcomment %}
    </div>
</div>

<div style="justify-content: center; display: grid; margin: 10px 0px;">
  <div class="card-body" style="display: flex; flex-wrap: wrap; justify-content: center; max-width: 1070px; overflow-x: hidden;">
    {% if region_dinings %}
          {% for dining in region_dinings %} 
            <div class="mx-3 mb-3" style="width: 220px;">
              <div class="card" style="width: 100%;">
                <div class="card-body p-0">
                  <a href="{% url 'dinings:detail' dining.pk %}">
                    {% if dining.image1 %}
                    <img src="{{ dining.image1.url }}" class="img-fluid rounded-start" alt="{{ dining.title }}" style="border-radius: 7px; width: 250px; height: 250px;">
                    {% else %}
                    <img src="{% static 'blank_img.png' %}" class="img-fluid rounded-start" alt="{{ dining.title }}" style="border-radius: 7px; width: 250px; height: 250px;">
                    {% endif %}
                  </a>
                </div>
              </div>
              <a href="{% url 'dinings:detail' dining.pk %}" class="px-3">{{ dining.title }}</a>
            </div>
          {% endfor %}

        {% else %}
          {# region_dinings가 없을 경우 #}
          {% for dining in dinings %} 
            <div class="mx-3 mb-3" style="width: 220px;">
              <div class="card" style="width: 100%;">
                <div class="card-body p-0">
                  <a href="{% url 'dinings:detail' dining.pk %}">
                    {% if dining.image1 %}
                    <img src="{{ dining.image1.url }}" class="img-fluid rounded-start" alt="{{ dining.title }}" style="border-radius: 7px; width: 250px; height: 250px;">
                    {% else %}
                    <img src="{% static 'blank_img.png' %}" class="img-fluid rounded-start" alt="{{ dining.title }}" style="border-radius: 7px; width: 250px; height: 250px;">
                    {% endif %}
                  </a>
                </div>
              <a href="{% url 'dinings:detail' dining.pk %}" class="px-3">{{ dining.title }}</a>
            </div>
        </div>
          {% endfor %}
        {% endif %}
{% block script %}
<script>

  const addressForm = document.querySelector('#address-form-container');
  const locSelBtn = document.querySelector('#loc-select')
  const myLocBtn = document.querySelector('#my-location-btn');
  const locationDiv = document.querySelector('#location');
  let loc = '';

  function clearLocation() {
    localStorage.removeItem("location");
    var locationElement = document.getElementById("location");
    locationElement.innerHTML = "";
    addressForm.setAttribute('style', "margin-top: 20px;")
  }

  addressForm.addEventListener('submit', function(event) {
    event.preventDefault();
    const regionInput = document.querySelector('#search');
    loc = regionInput.value;
    const url = `/dinings/?region_search=${encodeURIComponent(loc)}`;
    window.location.href = url;
  });
  
  console.log(myLocBtn);
  
  myLocBtn.addEventListener('click', function(event) {
    event.preventDefault();
    loc = '{{ my_location }}'
    const url = `/dinings/?region=${loc}`;
    window.location.href = url;
  });

  function updateLocationDiv(loc) {
    locationDiv.textContent = loc;
  }

  updateLocationDiv(loc);
  if (loc==='') {
    loc = '{{ my_location }}'
  }

  console.log('{{select_region}}')

  if ('{{is_selected}}' === 'True') {
    locationDiv.textContent = '{{select_region}}'
  } else {
    locationDiv.textContent = loc
  }


</script>  

{% endblock script %}  
{% endblock content %} 