{% extends 'base.html' %}
{% block style %}
.carousel-control-next {
  padding-right: -10px;
  margin-right: -30px;
}
{% endblock style %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav2">
  <div class="navbar-collapse">
    <div
      class="navbar-nav"
      style="
        justify-content: center;
        align-items: center;
        margin-right: 400px;
        flex-direction: row;
      "
    >
      <span class="nav-item">
        <a class="nav-link mx-2" href="#">공지사항</a>
      </span>
      <span class="nav-item mx-2">
        <a
          class="nav-link"
          href="https://blog.naver.com/PostList.nhn?blogId=diningcode&amp;categoryNo=26&amp;from=postList"
          >자주 묻는 질문</a
        >
      </span>
      <span class="nav-item mx-2">
        <a
          class="nav-link"
          href="https://blog.naver.com/diningcode/222008999700"
          >다이닝코드 소개</a
        >
      </span>
      <span class="nav-item mx-2">
        <a
          class="nav-link"
          href="https://blog.naver.com/PostList.nhn?blogId=diningcode&amp;categoryNo=13&amp;from=postList"
          >다이닝코드 이용안내</a
        >
      </span>
      <span class="nav-item mx-2">
        <a class="nav-link" href="#">매거진</a>
      </span>
    </div>
  </div>
</nav>

<header id="header2" class="header2">
  <div>
    <a href="{% url 'dinings:index' %}" style="width: 148.194px">
      <img
        class="logo"
        src="https://dcicons.s3.ap-northeast-1.amazonaws.com/new/images/web/react_components/indexPage/recom__scroll__nav__logo.png"
        alt="다이닝코드"
        width="148.194px"
        height="auto"
        style="margin-right: 50px"
      />
    </a>
  </div>

  <div
    style="
      align-items: center;
      display: flex;
      font-size: 10px;
      color: white;
      font-size: 20px;
      margin-left: 100px;
    "
  >
    당신을 위한 XX지구 추천 맛집
  </div>

  <div style="align-items: center">
    <button class="btn btn-primary">다른 지역 선택</button>
    <button class="btn btn-success">현 위치로 설정</button>
  </div>

  <img
    src="https://cdn-pro-web-247-144.cdn-nhncommerce.com/koreafood373_godomall_com/data/goods/23/03/12/1000000938/1000000938_detail_090.jpg"
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -555;
      filter: brightness(50%);
    "
  />
</header>

<div id="box">
  <img
    src="https://cdn-pro-web-247-144.cdn-nhncommerce.com/koreafood373_godomall_com/data/goods/23/03/12/1000000938/1000000938_detail_090.jpg"
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -555;
    "
  />
  <div style="margin-bottom: 20px; color: white; font-size: 20px">
    당신을 위한<p id="location"></p>맛집 추천
  </div>
  <div>
    <form id="location-form" method="POST">
      {% csrf_token %}
      <input type="hidden" name="latitude" id="latitude">
      <input type="hidden" name="longitude" id="longitude">
    </form>
    <button type="button" class="btn btn-primary" onclick="clearLocation()">다른 지역 선택</button>
    <button class="btn btn-success" onclick="getLocation()">현 위치로 설정</button>
  </div>
</div>

  <div style="justify-content: center; display: grid; margin: 10px 0px; overflow-x: hidden;">
    <div class="card" style="width: 100%">
      <div class="card-header">#음식종류</div>
      <div
        class="card-body"
        style="
          display: flex;
          align-items: center;
          min-width: 1070px;
          max-width: 1070px;
          overflow-x: hidden;
        "
      >
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
    
              {% for dining in dinings %} {% if forloop.counter0|divisibleby:4 %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                {% endif %}
                  <div class="mx-3" style="float: left; width: 220px">
                    <div class="card mx-3" style="width: 220px; margin-right: 0px;">
                      <div class="card-body" style="padding: 0px">
                        <a href="{% url 'dinings:detail' dining.pk %}">
                        <img
                          src="https://upload2.inven.co.kr/upload/2016/06/20/bbs/i12642502049.jpg"
                          alt="{{ dining.title }}"
                          style="width: 220px; border-radius: 5px"
                        />
                        </a>
                      </div>
                    </div>
                    <a href="{% url 'dinings:detail' dining.pk %}" class="px-3">{{ dining.title }}</a>
                  </div>
                {% if forloop.counter0|add:1|divisibleby:4 or forloop.last %}
              </div>
              {% endif %} {% endfor %}
          </div>

            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
      </div>
    </div>
  </div>

  <div style="justify-content: center; display: grid; margin: 10px 0px; overflow-x: hidden;">
    <div class="card" style="width: 100%">
      <div class="card-header">#음식종류</div>
      <div
        class="card-body"
        style="
          display: flex;
          align-items: center;
          min-width: 1070px;
          max-width: 1070px;
          overflow-x: hidden;
        "
      >
        <div id="carouselExample2" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="mx-3" style="float: left; width: 220px">
                <div class="card mx-3" style="width: 220px; margin-right: 0px;">
                  <div class="card-body" style="padding: 0px">
                    <img
                      src="https://upload2.inven.co.kr/upload/2016/06/20/bbs/i12642502049.jpg"
                      alt=""
                      style="width: 220px; border-radius: 5px"
                    />
                  </div>
                </div>
                <div class="px-3">냉면</div>
              </div>

              <div class="mx-3" style="float: left; width: 220px">
                <div class="card mx-3" style="width: 220px">
                  <div class="card-body" style="padding: 0px">
                    <img
                      src="https://upload2.inven.co.kr/upload/2016/06/20/bbs/i12642502049.jpg"
                      alt=""
                      style="width: 220px; border-radius: 5px"
                    />
                  </div>
                </div>
                <div class="px-3">냉면</div>
              </div>

              <div class="mx-3" style="float: left; width: 220px">
                <div class="card mx-3" style="width: 220px">
                  <div class="card-body" style="padding: 0px">
                    <img
                      src="https://upload2.inven.co.kr/upload/2016/06/20/bbs/i12642502049.jpg"
                      alt=""
                      style="width: 220px; border-radius: 5px"
                    />
                  </div>
                </div>
                <div class="px-3">냉면</div>
              </div>

              <div class="mx-3" style="float: left; width: 220px">
                <div class="card mx-3" style="width: 220px">
                  <div class="card-body" style="padding: 0px">
                    <img
                      src="https://upload2.inven.co.kr/upload/2016/06/20/bbs/i12642502049.jpg"
                      alt=""
                      style="width: 220px; border-radius: 5px"
                    />
                  </div>
                </div>
                <div class="px-3">냉면</div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="mx-3" style="float: left; width: 220px">
                <div class="card mx-3" style="width: 220px">
                  <div class="card-body" style="padding: 0px">
                    <img
                      src="https://upload2.inven.co.kr/upload/2016/06/20/bbs/i12642502049.jpg"
                      alt=""
                      style="width: 220px; border-radius: 5px"
                    />
                  </div>
                </div>
                <div class="px-3">냉면</div>
              </div>

              <div class="mx-3" style="float: left; width: 220px">
                <div class="card mx-3" style="width: 220px">
                  <div class="card-body" style="padding: 0px">
                    <img
                      src="https://upload2.inven.co.kr/upload/2016/06/20/bbs/i12642502049.jpg"
                      alt=""
                      style="width: 220px; border-radius: 5px"
                    />
                  </div>
                </div>
                <div class="px-3">냉면</div>
              </div>

              <div class="mx-3" style="float: left; width: 220px">
                <div class="card mx-3" style="width: 220px">
                  <div class="card-body" style="padding: 0px">
                    <img
                      src="https://upload2.inven.co.kr/upload/2016/06/20/bbs/i12642502049.jpg"
                      alt=""
                      style="width: 220px; border-radius: 5px"
                    />
                  </div>
                </div>
                <div class="px-3">냉면</div>
              </div>

              <div class="mx-3" style="float: left; width: 220px">
                <div class="card mx-3" style="width: 220px">
                  <div class="card-body" style="padding: 0px">
                    <img
                      src="https://upload2.inven.co.kr/upload/2016/06/20/bbs/i12642502049.jpg"
                      alt=""
                      style="width: 220px; border-radius: 5px"
                    />
                  </div>
                </div>
                <div class="px-3">냉면</div>
              </div>
            </div>

            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExample2"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExample2"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    }
  
    function showPosition(position) {
      var lat = position.coords.latitude;
      var lon = position.coords.longitude;
      var url = "https://api.bigdatacloud.net/data/reverse-geocode-client?latitude=" + lat + "&longitude=" + lon + "&localityLanguage=ko";
      fetch(url)
        .then(response => response.json())
        .then(data => {
          var locationElement = document.getElementById("location");
          locationElement.innerHTML = data.locality;
        })
        .catch(error => {
          console.error(error);
        });
    }
    window.onload = function() {
      var location = localStorage.getItem("location");
      if (location) {
        var locationElement = document.getElementById("location");
        locationElement.innerHTML = location;
      }
    };
  
    function clearLocation() {
      var locationElement = document.getElementById("location");
      locationElement.innerHTML = "";
    }
  </script>
{% endblock content %} 
