{% extends 'base.html' %}
{% block style %}
#container {
  justify-content: center;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 250px 800px;
  align-items: start;
  min-width: 1070px;
  height: 100%;
}

#container > .card:first-child {
  max-width: 300px; 
  margin-right: 10px;
  margin-right: 10px;
  position: sticky;
  top: 100px;
}

#container > .card:nth-child(2) {
  display: flex;
}
.tag {
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}
{% endblock style %}

{% block content %}
    <h5
      class="my-3 mx-auto text-center"
      style="font-family: 'Chosunilbo_myungjo', serif; max-width: 800px"
    >
      "{{ request.GET.query }}"에 관한 맛집 검색 결과입니다.
    </h5>

    <div id="container" style="font-family: 'NanumBarunGothic'">
      <div class="card my-2">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#">이용자층</a>
          </li>
          <li class="list-group-item">
            <a href="#">카테고리</a>
          </li>
          <li class="list-group-item">
            <a href="#">지역</a>
          </li>
        </ul>
      </div>

      <div class="card my-2 p-2">
        {% for dining in dinings %}
        <div class="card" style="border: 0px">
          <a href="{% url 'dinings:detail' dining.pk %}">
            <div
              class="card m-2"
              style="border: 0px; display: flex; flex-direction: row"
              id="text"
            >
              <div
                class="card"
                style="width: 250px; height: 250px; border: 0px"
              >
                <img
                  src="{{ dining.image1.url }}"
                  class="img-fluid rounded-start"
                  alt="{{ dining.title }}"
                  style="border-radius: 7px; width: 250px; height: 250px"
                />
              </div>
              <div
                class="card p-3"
                style="
                  width: 550px;
                  height: 250px;
                  border: 0px;
                  justify-content: space-evenly;
                "
              >
                <div class="card-title" style="font-size: 30px">
                  {{ dining.title }}
                </div>
                <div class="card-text">
                  {% for tag in dining.tags.all %}
                  <span
                    class="border rounded-pill px-2"
                    style="
                      background-color: rgb(227, 227, 227);
                      font-size: 18px;
                    "
                    >#{{ tag.name }}</span
                  >
                  {% endfor %}
                </div>
                <div style="font-size: 20px">
                  <span class="card-text"
                    >별점 {{ reviews.half_star_rating }}</span
                  >
                  <span class="mx-2">|</span>
                  <span class="card-text">
                    <span class="bi bi-heart-fill text-danger"></span>
                    <span>({{ dining.like_users.all|length }})</span>
                  </span>
                </div>
              </div>
            </div>
          </a>
          <div style="font-size: 20px">
            {% if reviews %}
            <p class="card-text" style="text-align: center">
              {{ reviews.first.content }} 첫 댓글
            </p>
            {% else %}
            <p class="card-text" style="text-align: center">댓글이 없습니다</p>
            {% endif %}
          </div>
          {% if not forloop.last %}
          <hr />
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>    
{% endblock %}
