{% extends 'base.html' %}

{% block content  %}
<script>
  function showPosition(position) {
    var lat = position.coords.latitude;
    var lon = position.coords.longitude;
    
    // 카카오 지도 API 호출을 위한 URL 생성
    var url = "https://dapi.kakao.com/v2/maps/sdk.js?appkey=bf6b2ec27afff46be3e2df1a2fb99365&autoload=false";
    $.ajax({
      url: url,
      headers: {"Authorization": "2b32ed18d6b9e74e75b2070ed420a053"},
      async: false,
      dataType: "script"
    });
    var container = document.getElementById('map'); // 지도를 담을 영역의 DOM 노드
    var options = { // 지도를 생성할 때 필요한 기본 옵션
      center: new kakao.maps.LatLng(lat, lon), // 지도의 중심좌표.
      level: 3 // 지도의 레벨(확대, 축소 정도)
    };
    var map = new kakao.maps.Map(container, options); // 지도 생성 및 객체 리턴
  }
</script>
{% endblock content  %}