.star-rating {
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 44px;
}

#star-check {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  height: 44px;
  overflow: hidden;
}

.star-check-0 {
  width: 0%;
}

.star-check-1 {
  width: 10%;
}

.star-check-2 {
  width: 20%;
}

.star-check-3 {
  width: 30%;
}

.star-check-4 {
  width: 40%;
}

.star-check-5 {
  width: 50%;
}

.star-check-6 {
  width: 60%;
}

.star-check-7 {
  width: 70%;
}

.star-check-8 {
  width: 80%;
}

.star-check-9 {
  width: 90%;
}

.star-check-10 {
  width: 100%;
}

.clickable-star {
  display: inline-block;
}

.detail-rating {

}