{% extends 'account_base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
  <h4>프로필 수정하기</h4>
  <hr>
  <form action="{% url 'accounts:update' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="my-3">

      {% if user.profile_image %}
      <img class="p-1 rounded-circle" src="{{ user.profile_image.url }}" alt="profile_image" style="width: 140px; height: 140px;">
      {% else %}
      <img class="p-1 rounded-circle" src="{% static 'img/blank-profile-image.png' %}" class="img-fluid" style="width: 140px; height: 140px;" alt="blank-profile-image">
      {% endif %}
    </div>
    {{ form.as_p }}
    <a href="{% url 'accounts:change_password' %}" class="btn btn-primary">비밀번호 변경</a>
    <div class="text-center my-5">
      <button type="submit" class="border bg-info text-white" style="padding: 1.2rem 10rem">변경사항 저장</button>
    </div>  
  </form>
  
</div>
<form action="{% url 'accounts:delete' %}" method="POST" id="delete">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ request.path }}" />
  <input
  class="btn btn-outline-danger my-3"
  onclick="confirmDelete(event)"
  type="submit"
  value="회원 탈퇴"
  style="width: 200px; margin-left: 12px"
  />
</form>

{% endblock content %}

{% block script %}
<script>
  function confirmDelete(event) {
    event.preventDefault()

    if (confirm("정말로 탈퇴하시겠습니까?")) {
      document.querySelector("#delete").submit()
    }
  }
</script>
<script>
// 파일 선택시, 이미지 미리보기
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#profile-image-preview').attr('src', e.target.result);
      $('#profile-image-preview').show();
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$('#id_profile_image').change(function() {
  readURL(this);
});

</script>
{% endblock script %}


<!--  <div class="d-flex align-items-end">
          {% if user.profile_image %}
            <img class="p-1 rounded-circle" src="{{ user.profile_image.url }}" alt="profile_image" style="width: 140px; height: 140px;">
          {% else %}
            <img class="p-1 rounded-circle" src="{% static 'img/blank-profile-image.png' %}" class="img-fluid" style="width: 140px; height: 140px;" alt="blank-profile-image">
          {% endif %}
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="profile_image" name="profile_image" style="display:none;" onchange="handleFiles(this.files)">
                  <label for="profile_image" class="custom-file-label btn btn-primary" id="profile_image_label">
                    파일 선택하기
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary" >업로드</button>
            </form>
          </div>
-->