{% extends 'account_base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
  <h4>프로필 수정하기</h4>
  <hr>
  <form action="{% url 'accounts:update' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="my-3">

      {% if user.profile_image %}
      <img class="p-1 rounded-circle" src="{{ user.profile_image.url }}" alt="profile_image" style="width: 140px; height: 140px;">
      {% else %}
      <img class="p-1 rounded-circle" src="{% static 'img/blank-profile-image.png' %}" class="img-fluid" style="width: 140px; height: 140px;" alt="blank-profile-image">
      {% endif %}
    </div>
    {{ form.as_p }}
    <a href="{% url 'accounts:change_password' %}" class="btn btn-primary">비밀번호 변경</a>
    <div class="text-center my-5">
      <button type="submit" class="border bg-info text-white" style="padding: 1.2rem 10rem">변경사항 저장</button>
    </div>  
  </form>
  
</div>
<form action="{% url 'accounts:delete' %}" method="POST" id="delete">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ request.path }}" />
  <input
  class="btn btn-outline-danger my-3"
  onclick="confirmDelete(event)"
  type="submit"
  value="회원 탈퇴"
  style="width: 200px; margin-left: 12px"
  />
</form>
{% comment %}  
  <form action="{% url 'accounts:update' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">

    <div class=" mt-5">
      <div class="container-fluid ms-3">
        <!-- 프로필사진 -->
        <div class="d-flex align-items-center border-bottom pb-3">
          <div class="col-4">
            <b>프로필 사진</b>
          </div>
          <div class="col-8">
            <div class="d-flex align-items-end">
              
              {% if user.profile_image %}
              <img class="p-1 rounded-circle" src="{{ user.profile_image.url }}" alt="profile_image" style="width: 140px; height: 140px;">
              {% else %}
              <img class="p-1 rounded-circle" src="{% static 'img/blank-profile-image.png' %}" class="img-fluid" style="width: 140px; height: 140px;" alt="blank-profile-image">
              {% endif %}
            </div>
            <p class="mt-3">다이닝코드의 회원 프로필 사진으로 사용될 이미지를 등록해 주세요.</p>
          </div>
        </div>
        
        <!-- 닉네임 -->
        <div class="d-flex align-items-center border-bottom pb-3">
          <div class="col-4">
            <b>닉네임</b>
          </div>
          <div class="col-8 mt-3">
            
            <input type="text" class="form-control" name="username" id="username" placeholder="이름" value="{{user.username}}" style="width:24rem;">
            <p id="warning-text" class="mt-3">다이닝코드에서 회원정보로 등록하실 닉네임을 입력해주세요.(영문 또는 숫자 4~10자,한글 포함 시 2~10자)</p>
            
          </div>
        </div>
        
        <!-- 이메일 -->
        <div class="d-flex align-items-center border-bottom pb-3">
          <div class="col-4">
            <b>이메일</b>
          </div>
          <div class="col-8 mt-3">
            <input type="text" class="form-control" name="email" id="email" placeholder="이메일" value="{{user.email}}" style="width:24rem;">
            <p class="mt-3">다이닝코드에서 이용하실 이메일을 입력해 주세요.</p>
          </div>
        </div>
        <!-- 휴대전화인증 -->
        <div class="d-flex align-items-center border-bottom pb-3">
          <div class="col-4">
            <b>휴대전화인증</b>
          </div>
          <div class="col-8 mt-3">
            <div class="">
              <h4>{{ user.phonenumber }} <span class="fs-4 text-info">인증완료</span> </h4>
            </div>
            <p class="mt-3">개인화된 맛집추천, 좋아요, 비밀번호찾기, 맛집평가작성, 포인트 적 립 및 사용, 다코박스 상품구매, 할인쿠폰 등의 모든 서비스 혜택을 받을 수 있습니다.</p>
          </div>
        </div>
        <!-- 비밀번호 -->
        <div class="d-flex align-items-center border-bottom pb-3">
          <div class="col-4">
            <b>비밀번호</b>
          </div>
          <div class="col-8">
            <div class="d-flex">
              <div class="mt-3">
                <a href="{% url 'accounts:change_password' %}" class="btn btn-primary">비밀번호 변경</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 변경사항 입력 폼 요소들 추가 -->
      <div class="text-center my-5">
        <button type="submit" class="border bg-info text-white" style="padding: 1.2rem 10rem">변경사항 저장</button>
      </div>  
    </div>
  </div>
  </form>
  {% endcomment %}


{% endblock content %}

{% block script %}
<script>
  function confirmDelete(event) {
    event.preventDefault()

    if (confirm("정말로 탈퇴하시겠습니까?")) {
      document.querySelector("#delete").submit()
    }
  }
</script>
<script>
// 파일 선택시, 이미지 미리보기
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#profile-image-preview').attr('src', e.target.result);
      $('#profile-image-preview').show();
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$('#id_profile_image').change(function() {
  readURL(this);
});

</script>
{% endblock script %}


<!--  <div class="d-flex align-items-end">
          {% if user.profile_image %}
            <img class="p-1 rounded-circle" src="{{ user.profile_image.url }}" alt="profile_image" style="width: 140px; height: 140px;">
          {% else %}
            <img class="p-1 rounded-circle" src="{% static 'img/blank-profile-image.png' %}" class="img-fluid" style="width: 140px; height: 140px;" alt="blank-profile-image">
          {% endif %}
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="profile_image" name="profile_image" style="display:none;" onchange="handleFiles(this.files)">
                  <label for="profile_image" class="custom-file-label btn btn-primary" id="profile_image_label">
                    파일 선택하기
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary" >업로드</button>
            </form>
          </div>
-->